:root {
  font-size: calc(1em + 0.5vw);
}
* {
  margin: 0;
  font-weight: 100;
  font-family: 'Roboto';
}
@media (max-width: 1200px) {
  * {
    font-weight: 300;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
  margin: 1em 0 0 0;
}
html#default body {
  background: #f5f7fa;
  color: #aab2bd;
  transition: all 0.2s;
}
html#default body ::selection {
  background: #656d78;
  color: #f5f7fa;
}
html#default body header {
  background: rgba(245,247,250,0.75);
  -webkit-mask-image: linear-gradient(180deg, #000 70%, rgba(0,0,0,0) 100%);
  transition: all 0.2s;
}
html#default body h1,
html#default body h2,
html#default body h3,
html#default body h4,
html#default body h5,
html#default body h6,
html#default body code {
  color: #656d78;
  transition: all 0.2s;
}
@media (pointer: fine) {
  html#default ::-webkit-scrollbar {
    background: #f5f7fa;
    width: 1rem;
    height: 1rem;
  }
  html#default ::-webkit-scrollbar-thumb {
    background: rgba(101,109,120,0.25) content-box;
  }
  html#default ::-webkit-scrollbar-thumb:hover {
    background: rgba(101,109,120,0.3) content-box;
  }
  html#default ::-webkit-scrollbar-thumb:active {
    background: rgba(101,109,120,0.35) content-box;
  }
  html#default code::-webkit-scrollbar {
    background: rgba(0,0,0,0);
  }
}
#theemey .theemey-theme#default {
  background: #656d78;
}
html#bittersweet body {
  background: #434a54;
  color: #ccd1d9;
  transition: all 0.2s;
}
html#bittersweet body ::selection {
  background: #e9573f;
  color: #ccd1d9;
}
html#bittersweet body header {
  background: rgba(67,74,84,0.75);
  -webkit-mask-image: linear-gradient(180deg, #000 70%, rgba(0,0,0,0) 100%);
  transition: all 0.2s;
}
html#bittersweet body h1,
html#bittersweet body h2,
html#bittersweet body h3,
html#bittersweet body h4,
html#bittersweet body h5,
html#bittersweet body h6,
html#bittersweet body code {
  color: #e9573f;
  transition: all 0.2s;
}
@media (pointer: fine) {
  html#bittersweet ::-webkit-scrollbar {
    background: #434a54;
    width: 1rem;
    height: 1rem;
  }
  html#bittersweet ::-webkit-scrollbar-thumb {
    background: rgba(233,87,63,0.25) content-box;
  }
  html#bittersweet ::-webkit-scrollbar-thumb:hover {
    background: rgba(233,87,63,0.3) content-box;
  }
  html#bittersweet ::-webkit-scrollbar-thumb:active {
    background: rgba(233,87,63,0.35) content-box;
  }
  html#bittersweet code::-webkit-scrollbar {
    background: rgba(0,0,0,0);
  }
}
#theemey .theemey-theme#bittersweet {
  background: #e9573f;
}
html#grass body {
  background: #f5f7fa;
  color: #aab2bd;
  transition: all 0.2s;
}
html#grass body ::selection {
  background: #8cc152;
  color: #f5f7fa;
}
html#grass body header {
  background: rgba(245,247,250,0.75);
  -webkit-mask-image: linear-gradient(180deg, #000 70%, rgba(0,0,0,0) 100%);
  transition: all 0.2s;
}
html#grass body h1,
html#grass body h2,
html#grass body h3,
html#grass body h4,
html#grass body h5,
html#grass body h6,
html#grass body code {
  color: #8cc152;
  transition: all 0.2s;
}
@media (pointer: fine) {
  html#grass ::-webkit-scrollbar {
    background: #f5f7fa;
    width: 1rem;
    height: 1rem;
  }
  html#grass ::-webkit-scrollbar-thumb {
    background: rgba(140,193,82,0.25) content-box;
  }
  html#grass ::-webkit-scrollbar-thumb:hover {
    background: rgba(140,193,82,0.3) content-box;
  }
  html#grass ::-webkit-scrollbar-thumb:active {
    background: rgba(140,193,82,0.35) content-box;
  }
  html#grass code::-webkit-scrollbar {
    background: rgba(0,0,0,0);
  }
}
#theemey .theemey-theme#grass {
  background: #8cc152;
}
html#aqua body {
  background: #434a54;
  color: #e6e9ed;
  transition: all 0.2s;
}
html#aqua body ::selection {
  background: #4fc1e9;
  color: #e6e9ed;
}
html#aqua body header {
  background: rgba(67,74,84,0.75);
  -webkit-mask-image: linear-gradient(180deg, #000 70%, rgba(0,0,0,0) 100%);
  transition: all 0.2s;
}
html#aqua body h1,
html#aqua body h2,
html#aqua body h3,
html#aqua body h4,
html#aqua body h5,
html#aqua body h6,
html#aqua body code {
  color: #4fc1e9;
  transition: all 0.2s;
}
@media (pointer: fine) {
  html#aqua ::-webkit-scrollbar {
    background: #434a54;
    width: 1rem;
    height: 1rem;
  }
  html#aqua ::-webkit-scrollbar-thumb {
    background: rgba(79,193,233,0.25) content-box;
  }
  html#aqua ::-webkit-scrollbar-thumb:hover {
    background: rgba(79,193,233,0.3) content-box;
  }
  html#aqua ::-webkit-scrollbar-thumb:active {
    background: rgba(79,193,233,0.35) content-box;
  }
  html#aqua code::-webkit-scrollbar {
    background: rgba(0,0,0,0);
  }
}
#theemey .theemey-theme#aqua {
  background: #4fc1e9;
}
html#night body {
  background: #434a54;
  color: #ccd1d9;
  transition: all 0.2s;
}
html#night body ::selection {
  background: #967adc;
  color: #ccd1d9;
}
html#night body header {
  background: rgba(67,74,84,0.75);
  -webkit-mask-image: linear-gradient(180deg, #000 70%, rgba(0,0,0,0) 100%);
  transition: all 0.2s;
}
html#night body h1,
html#night body h2,
html#night body h3,
html#night body h4,
html#night body h5,
html#night body h6,
html#night body code {
  color: #967adc;
  transition: all 0.2s;
}
@media (pointer: fine) {
  html#night ::-webkit-scrollbar {
    background: #434a54;
    width: 1rem;
    height: 1rem;
  }
  html#night ::-webkit-scrollbar-thumb {
    background: rgba(150,122,220,0.25) content-box;
  }
  html#night ::-webkit-scrollbar-thumb:hover {
    background: rgba(150,122,220,0.3) content-box;
  }
  html#night ::-webkit-scrollbar-thumb:active {
    background: rgba(150,122,220,0.35) content-box;
  }
  html#night code::-webkit-scrollbar {
    background: rgba(0,0,0,0);
  }
}
#theemey .theemey-theme#night {
  background: #967adc;
}
html#grapefruit body {
  background: #e6e9ed;
  color: #434a54;
  transition: all 0.2s;
}
html#grapefruit body ::selection {
  background: #ed5565;
  color: #e6e9ed;
}
html#grapefruit body header {
  background: rgba(230,233,237,0.75);
  -webkit-mask-image: linear-gradient(180deg, #000 70%, rgba(0,0,0,0) 100%);
  transition: all 0.2s;
}
html#grapefruit body h1,
html#grapefruit body h2,
html#grapefruit body h3,
html#grapefruit body h4,
html#grapefruit body h5,
html#grapefruit body h6,
html#grapefruit body code {
  color: #ed5565;
  transition: all 0.2s;
}
@media (pointer: fine) {
  html#grapefruit ::-webkit-scrollbar {
    background: #e6e9ed;
    width: 1rem;
    height: 1rem;
  }
  html#grapefruit ::-webkit-scrollbar-thumb {
    background: rgba(237,85,101,0.25) content-box;
  }
  html#grapefruit ::-webkit-scrollbar-thumb:hover {
    background: rgba(237,85,101,0.3) content-box;
  }
  html#grapefruit ::-webkit-scrollbar-thumb:active {
    background: rgba(237,85,101,0.35) content-box;
  }
  html#grapefruit code::-webkit-scrollbar {
    background: rgba(0,0,0,0);
  }
}
#theemey .theemey-theme#grapefruit {
  background: #ed5565;
}
html#sunflower body {
  background: #434a54;
  color: #f5f7fa;
  transition: all 0.2s;
}
html#sunflower body ::selection {
  background: #ffce54;
  color: #f5f7fa;
}
html#sunflower body header {
  background: rgba(67,74,84,0.75);
  -webkit-mask-image: linear-gradient(180deg, #000 70%, rgba(0,0,0,0) 100%);
  transition: all 0.2s;
}
html#sunflower body h1,
html#sunflower body h2,
html#sunflower body h3,
html#sunflower body h4,
html#sunflower body h5,
html#sunflower body h6,
html#sunflower body code {
  color: #ffce54;
  transition: all 0.2s;
}
@media (pointer: fine) {
  html#sunflower ::-webkit-scrollbar {
    background: #434a54;
    width: 1rem;
    height: 1rem;
  }
  html#sunflower ::-webkit-scrollbar-thumb {
    background: rgba(255,206,84,0.25) content-box;
  }
  html#sunflower ::-webkit-scrollbar-thumb:hover {
    background: rgba(255,206,84,0.3) content-box;
  }
  html#sunflower ::-webkit-scrollbar-thumb:active {
    background: rgba(255,206,84,0.35) content-box;
  }
  html#sunflower code::-webkit-scrollbar {
    background: rgba(0,0,0,0);
  }
}
#theemey .theemey-theme#sunflower {
  background: #ffce54;
}
#theemey {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 1000000000;
  transform: translateY(-50%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#theemey .container {
  width: 0;
  position: relative;
}
#theemey .container .theemey-theme {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 0;
  border: 0.25rem solid rgba(0,0,0,0.15);
  border-radius: 100%;
  transform: translate3d(-75%, 0, 0);
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 0 200vmax rgba(0,0,0,0);
  will-change: transform, box-shadow;
  transition: all 0.2s 0.2s;
}
#theemey .container .theemey-theme.active {
  transform: translate3d(-60%, 0, 0);
}
#theemey .container .theemey-theme:hover {
  transform: translate3d(-50%, 0, 0);
  box-shadow: 0 0 0 150vmax rgba(0,0,0,0.5);
  z-index: 1;
  transition: all 0.2s;
}
#theemey .container .theemey-theme:hover + span {
  opacity: 1;
  transform: translate3d(0.25em, -50%, 0);
  transition: all 0.2s;
}
#theemey .container span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 2rem;
  z-index: 2;
  transform: translate3d(-0.25em, -50%, 0);
  opacity: 0;
  color: #fff;
  will-change: transform, opacity;
  pointer-events: none;
  transition: all 0.2s 0.2s;
}
@media (pointer: coarse) {
  #theemey .container .theemey-theme {
    box-shadow: none !important;
  }
  #theemey .container .theemey-theme:hover {
    transform: translate3d(-75%, 0, 0);
  }
  #theemey .container .theemey-theme.active {
    transform: translate3d(-60%, 0, 0);
  }
  #theemey .container span {
    display: none;
  }
}
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }
  ::-webkit-scrollbar-thumb {
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-style: solid;
    border-color: rgba(0,0,0,0);
  }
  ::-webkit-scrollbar-thumb:horizontal {
    border-width: 0 0.5rem 0.5rem 0.5rem;
  }
}
.scrollbox {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
header {
  width: calc(100% - 3rem);
  padding: 0.5em 1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
header h1 {
  margin: 0.5em;
}
article {
  width: calc(320px + 50vw);
  max-width: calc(100% - 2em);
  font-size: 1.2em;
  box-sizing: border-box;
  padding: 2.5vw 5vw;
  margin: 6rem auto 2em auto;
}
article * {
  line-height: 1.5em;
}
code {
  position: relative;
  z-index: 0;
  display: block;
  white-space: pre-wrap;
  overflow-X: auto;
  font-weight: 300;
  margin: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border-left: 0.5rem solid rgba(0,0,0,0.05);
  box-sizing: border-box;
  background: rgba(0,0,0,0.05);
}
code .line {
  position: relative;
  display: block;
  min-height: 1.5em;
}
code .line .line-content {
  display: block;
  margin-right: 2em;
  font-family: 'Roboto Mono';
}
code .line .line-number {
  position: absolute;
  top: 0.15rem;
  left: -0.2rem;
  font-size: 1rem;
  opacity: 0.5;
  transform: translateX(-100%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
